body {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.top-container {
    display: flex;
    flex-grow: 1;
    background-color: #1F2937;
    margin: 0px;
    padding: 17px;
}


.header-logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;   
}

.header-links {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}

.header-container-II {
    display: flex; 
    padding: 80px 0px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}


.box {
    display: flex;
    background-color: #1F2937;
    max-width: 1000px;
}

.left {
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.left div {
    margin: 4px;
}

.awesome {
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.header-button {
    display:flex;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    margin-top: 5px;
    padding: 8px 27px;
    font-weight: 800;
    font-size: 18px;
    border-radius: 8px;

}

.right {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.image {
    border: 7px solid white;
    border-radius: 8px;
}

.image img {
    height: 300px;
    width: auto;
}

.container-three {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: flex-end;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    padding: 3px;
}

.container-four {
    display: flex;
    flex: 1;
    min-height: 275px;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
    padding: 60px;
}

.container-four .four {
    display: flex;
    flex-direction: column;
    border: 5px solid #3882F6;
    border-radius: 8px;
    height: 200px;
    max-width: 210px;

}


.four img {
    height: 200px;
    width: auto;
}


.image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-style: italic;
}

.container-five {
    display: flex;
    margin: 0px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote-box {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    flex-direction: column;
    max-width: 700px;
    
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-attribution {
    display: flex;
    font-size: 25px;
    font-weight: 800;
    justify-content: flex-end;
    margin-top: 10px;
}

.container-six {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    display: flex;
    flex: 1;
    background-color: #3882F6;
    margin: 100px 210px;
    padding: 50px 90px;
    border-radius: 8px;
}

.action-left {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
}

.action-big {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.action-small {
    font-size: 18px;
    color: #E5E7EB;
}

.action-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.action-button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.action-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    padding: 6px 30px;
    font-weight: 800;
    font-size: 18px;
    border-radius: 8px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.footer-text {
    display: flex;
    margin: 45px;
    color: #E5E7EB
}